*, ::after, ::before {
  margin: 0;
  box-sizing: border-box;
}

.bg-container {
  width: 90vw;
  max-width: 800px;
  margin-top: 5rem;
  position: relative;
}

.bg-container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: pink;
  filter: opacity(.25);
}

.bg-pic {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.bg-headline-1 {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  background: rgb(252, 77, 77);
  padding: 5px 15px;
}

.bg-headline-2 {
  position: absolute;
  top: 70%;
  left: 20%;
  color: white;
  background: rgb(252, 77, 77);
  padding: 5px 15px;
  font-size: 3rem;
  letter-spacing: .1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.sidebar-title, .sidebar-link {
  padding: .125rem;
  color: white;
}

.sidebar-title:hover, .sidebar-link:hover {
  text-decoration: none;
  color: rgb(252, 77, 77);
}

.sidebar-title {
  font-size: 1.25rem;
  letter-spacing: .1rem;
}

.sidebar-link {
  font-size: 1rem;
  margin-left: 1rem;
  letter-spacing: .05rem;
}

.sidebar-btn {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.sidebar-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-nav {
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .bg-headline-1 {
    font-size: 1.5rem;
  }

  .bg-headline-2 {
    font-size: 2rem;
  }
}